/*RESETS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-image: url(../img/header2.png);
    text-align: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-family: Tw Cen MT Condensed;
    display: flex;
}
h1 {
    text-align: left;
    flex-basis: 50%;
    margin: auto 0;
    padding: 20px;
    border-left: 4px solid #fff;
}
header p{
    font-size: 2em;
    text-align:right;
    flex-basis: 50%;
    margin: auto 0;
    padding: 20px;   
}
.sobre{
    height: 270px;
    display: flex;
    padding: 0 12%;
    flex-wrap: wrap;
}
.sobre p{
    flex-basis: 50%;
    margin: auto 0;
    padding: 30px 0 30px 30px;
}
.contato1{
    text-align: center;
    position: sticky;
    top:0;
    background: #fff;
    height:55px;
    z-index: 1;
}
.contato1 p{
    padding-top: 5px;
}
.contato1 p span{
    padding-right: 20px;
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
.contato1 p span:before{
    content: '';
    width: 50px;
    height: 1px;
    background: black;
    display: block;
    margin: 0 auto;
}
/*.contato1 p:after{
    content: '';
    width: 20px;
    height: 5px;
    background: black;
    display: block;
    margin: 0 auto;*/
.contato1 p a{
    text-decoration: none;
    color: #000;
    margin: 10px;
}
.contato1 p a:hover{
    color: orange;
    transition: all 0.2s ease-in;
}
.contato1 p a i{
    font-size: 1.5em;
}
.sobre h2{
    text-align: right;
    text-transform: uppercase;
    font-family: Tw Cen MT Condensed;
    font-size: 4em;
    flex-basis: 50%;
    margin: auto 0;
    padding: 30px 30px 30px 50px;
}

.experiencia{
    background-image: url(../img/fundo2.png);
    height: 500px;
    background-attachment: fixed;
    padding: 20px 12% 90px 12%;
    color: #fff;
    overflow: auto;
}
.experiencia h2, .habilidades h2, .idiomas h2, footer h2{
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 60px 0 0 0;
    font-family: Tw Cen MT Condensed;
    font-size: 4em;
}
a[href="#chegasobre"]{
    display: block;
    position: absolute;
    bottom: 60px;
    left: 49%;
    font-size: 3.5em;
    color: #fff;
}
a[href="#chegasobre"]:hover{
    /*filter: brightness(0.5);*/
    margin-top: 4px;
    position: absolute;
    bottom: 55px;
    left: 49%;
    transition: all 0.05s ease-in-out;
}
.experiencia .detalhe {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 3.5em;
}
.experiencia div{
    margin: 0;
    display: inline-block;
    width: 49%;
    vertical-align: text-top;
}

.experiencia div:nth-child(even){
    position: relative;
    top: 120px;    
}

.experiencia div:nth-child(4){
    margin-bottom: 120px;
}
.experiencia div:nth-child(odd){
    position: relative;
}
.experiencia h3{
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
.experiencia div p{
    margin: 5px 0;
}
.habilidades ul li{
    /*display: inline-block;
    right: 50%;*/
    text-align: center;
    font-size: 1.5em;
    list-style: none;    
}
.habilidades, .idiomas footer{
    height: 380px;
}
.habilidades ul{
    right: 50%;
    padding: 30px 12% 50px 12%;
    display: flex;
    justify-content: space-between;
}
.habilidades ul li i{
    font-size: 2em;
    width: 100px;
    height: 100px;
    border:2px solid black;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;    
}
.idiomas{
    background-image: url(../img/idiomas.png);
    background-attachment: static;
    color: white;
    height: 550px;
    padding: 30px 12% 50px 12%;
}
footer{
    padding: 30px 12% 50px 12%;
    text-align: center;
}
footer p:nth-child(2){
    font-size: 2em;
}
footer p{
    line-height: 1.5;
}
footer p a{
    text-decoration: none;
    color: #000;
}
footer p a:hover{
    color: orange;
    transition: all 0.2s ease-in;
}

footer h4{
    text-transform: uppercase;
    margin: 60px 0 20px 0;
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
@media (max-width:1100px){
    footer{
        padding: 30px 30% 50px 30%;
    }
}