/*RESETS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    scroll-snap-type: y;
}

header{
    background-image: url(../img/header2.png);
    text-align: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-family: Tw Cen MT Condensed;
    display: flex;
}
h1 {
    text-align: left;
    flex-basis: 50%;
    margin: auto 0;
    padding: 20px;
    border-left: 4px solid #fff;
    font-family: Tw Cen MT Condensed;
}
header p{
    font-size: 2em;
    text-align:right;
    flex-basis: 50%;
    margin: auto 0;
    padding: 20px;
    font-family: Tw Cen MT Condensed;
}
.sobre{
    margin: 50px;
    display: flex;
    padding: 0 12%;
    flex-wrap: wrap;
    scroll-snap-align: start; /*ENTENDER COMO FUNCIONA*/
}
.sobre p{
    flex-basis: 50%;
    margin: auto 0;
    padding: 30px 0 30px 30px;
}
.contato1{
    text-align: center;
    position: sticky;
    top:0;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.contato1 p{
    padding: 5px 0 5px 0;
    background: #fff;
}
.contato1 p span{
    padding-right: 20px;
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
.contato1 p span:before{
    content: '';
    width: 50px;
    height: 1px;
    background: black;
    display: block;
    margin: 0 auto;
}
/*.contato1 p:after{
    content: '';
    width: 20px;
    height: 5px;
    background: black;
    display: block;
    margin: 0 auto;*/
.contato1 p a{
    text-decoration: none;
    color: #000;
    margin: 10px;
}
.contato1 p a:hover{
    color: orange;
    transition: all 0.2s ease-in;
}
.contato1 p a i{
    font-size: 1.5em;
}
.sobre h2{
    text-align: right;
    text-transform: uppercase;
    font-family: Tw Cen MT Condensed;
    font-size: 4em;
    flex-basis: 50%;
    margin: auto 0;
    padding: 30px 30px 30px 50px;
}
.xp{
    display: flex;
    flex-flow: row wrap;

}
hr{
    height: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    flex: 1 1 100%
}
.lado{
    flex:1 1 30%;
    order: -1;
    background: rgb(245, 245, 245);
    display: flex;
}
.lado h2{
    text-transform: uppercase;
    font-family: Tw Cen MT Condensed;
    font-size: 2.5em;
    color: #4a4a4a;
    align-self: center;
    margin: 20px auto;
}
.experiencia{
    background: #000;
    background-attachment: fixed;
    color: #fff;
    overflow: auto;
    flex:1 1 70%;
    height: 70vh;
    filter: drop-shadow(1px 0 3px rgba(0, 0, 0, 0.6));
    display: flex;
    flex-flow: column nowrap;
}
.exp{
    position: sticky;
    background-color: black;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    font-family: Tw Cen MT Condensed;
    font-size: 4em;
}
.habilidades h2, .idiomas h2, footer h2{
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 60px 0 0 0;
    font-family: Tw Cen MT Condensed;
    font-size: 4em;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform:translateY(0);
    }

    40%{
        -webkit-transform: translateY(-20px);
        transform:translateY(-20px);
    }

    80%{
        -webkit-transform: translateY(-10px);
        transform:translateY(-10px);
    }

}

a[href="#chegasobre"]{
    display: block;
    position: absolute;
    bottom: 60px;
    left: 49%;
    font-size: 3.5em;
    color: #fff;
}
a[href="#chegasobre"]:hover{
    /*filter: brightness(0.5);
    margin-top: 4px;
    position: absolute;
    bottom: 55px;
    left: 49%;
    transition: all 0.1s ease;*/
    animation: bounce 1s;
}
.experiencia div{
    margin: 0;
    width: 100%;
    background-color: #f4b93d;
    padding: 100px 100px 120px 50px;
    flex: 0 1 auto
}
.experiencia div:nth-child(odd){
    background-color: #005ba9;
}
.experiencia h3{
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
.experiencia div p{
    margin: 5px 0;
}
.xp .experiencia .volunt{
    background-color: rgb(228, 228, 228);
    padding: 50px 100px 60px 50px;
}
.xp .experiencia .volunt h2{
    background: none;
    color: grey;
    text-align: left;
    font-size: 3em;
    padding-top: 2px;
    margin-bottom: 30px;
    font-family: Tw Cen MT Condensed;
    text-transform: uppercase;
}
.xp .experiencia .volunt ul{
    list-style: none;
    color: black;
}
.xp .experiencia .volunt ul li h3{
    margin-top: 8px;
}

.habilidades ul li{
    /*display: inline-block;
    right: 50%;*/
    text-align: center;
    font-size: 1.5em;
    list-style: none;    
}
.habilidades, .idiomas footer{
    height: 380px;
}
.habilidades ul{
    right: 50%;
    padding: 30px 12% 50px 12%;
    display: flex;
    justify-content: space-between;
}
.habilidades ul li i{
    font-size: 2em;
    width: 100px;
    height: 100px;
    border:2px solid black;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;    
}
.idiomas{
    background-image: url(../img/idiomas.png);
    color: white;
    padding: 10px 12% 50px 12%;
}
.academia{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.linguas{
    list-style: none;
    text-align: center;
}
.linguas li{
    padding: 10px 80px;
    font-size: 1.5em;
}
.linguas li i{
    display: block;
    font-size: 2em;
}
.acad, .ling{
    list-style: none;
    width: 260px;
    padding: 10px 0 10px 20px;
    border-left: 2px solid #fff;
}

.academia li ul li{
    display: block;
}
.academia h5{
    font-size: 1em;
}
footer{
    padding: 30px 12% 30px 12%;
    text-align: center;
}
footer p:nth-child(2){
    font-size: 1em;
}
footer p{
    line-height: 1.5;
}
footer p a{
    text-decoration: none;
    color: #000;
}
footer p a:hover{
    color: orange;
    transition: all 0.2s ease-in;
}

footer h4{
    text-transform: uppercase;
    margin: 30px 0 20px 0;
    font-family: Tw Cen MT Condensed;
    font-size: 2em;
}
footer h4:before{
    content: '';
    width: 50px;
    height: 1px;
    background: black;
    display: block;
    margin: 10px auto;
}
/*SCROLLBAR CHANGES*/
::-webkit-scrollbar {
    width: 1em;
    background-color: #Fff;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    outline: 1px solid #353535;
    border-radius: 50px;
}


@media only screen and (max-width: 768px) {

    * {
        scroll-snap-type: none;
    }

}